.center {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 20%;
}

#boxLeft {
    width: 300px;
    height: 200px;
    float: left;
    border: 1px;
}

#boxRight {
    margin-left: 620px;
    width: 300px;
    height: 200px;
    border: 10px;
}